<!DOCTYPE html>
<html>
<head>
    <title>Birds Detector</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .container {
            display: flex;
            justify-content: space-between;
        }

        .messages {
            flex: 1;
        }

        .information {
            flex: 1;
            padding: 10px;
            background-color: #f4f4f4;
            border: 1px solid #ccc;
        }

        .threshold {
            flex: 0.6;
            padding: 10px;
            background-color: #f4f4f4;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
<header>
    <h1>Birds Detector</h1>
</header>

<div class="container">
    <div class="messages">
        <h2>Received Alerts:</h2>
        <ul id="message-list"></ul>
    </div>

    <div class="threshold">
        <h2>Change Threshold</h2>
        <input type="number" id="threshold-input" placeholder="Enter threshold">
        <button id="threshold-button">Set Threshold</button>
        <div id="updateStatus"></div>

    </div>

    <div class="information">
        <h2>Previous information</h2>
        <div id="explain_box">
            <p>Enter a number of recent days to display
                <br>the hour that has the most birds in them </p>
        </div>
        <input type="number" id="info-input" placeholder="Enter number">
        <button id="info-button">Show Information</button>
        <div id="info-box" style="display: none;">
            <p>There is no information .</p>
        </div>

        <hr class="profit-line">

        <div id="explain_box2">
            <p>Enter a threshold of birds to display the hours
                <br>when the average number of observed birds is higher:</p>
        </div>
        <input type="number" id="info-input2" placeholder="Enter number">
        <button id="info-button2">Show Information</button>
        <div id="info-box2" style="display: none;">
            <p>There is no information .</p>
        </div>

    </div>
</div>

<script>
    const messageList = document.getElementById('message-list');

    const thresholdInput = document.getElementById('threshold-input');
    const thresholdButton = document.getElementById('threshold-button');
    const updateStatusDiv = document.getElementById('updateStatus');

    const infoInput = document.getElementById('info-input');
    const infoButton = document.getElementById('info-button');
    const infoBox = document.getElementById('info-box');


    const infoInput2 = document.getElementById('info-input2');
    const infoButton2 = document.getElementById('info-button2');
    const infoBox2 = document.getElementById('info-box2');


    async function updateMessagesList() {
        try {
            const response = await fetch('/get_messages');
            const data = await response.json();

            if (response.ok) {
                messageList.innerHTML = '';

                data.messages.forEach(message => {
                    const li = document.createElement('li');
                    li.textContent = message;
                    messageList.appendChild(li);
                });
            }
        } catch (error) {
            console.error('Error updating messages list:', error);
        }
    }

    updateMessagesList();
    setInterval(updateMessagesList, 3000);

    thresholdButton.addEventListener('click', async () => {
        const inputValue = thresholdInput.value;

        if (/^\d+$/.test(inputValue) && parseInt(inputValue) > 0) {
            const newThreshold = parseInt(inputValue);

            const response = await fetch('/update_threshold', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({threshold: newThreshold})
            });

            if (response.ok) {
                updateStatusDiv.textContent = 'Update success.';
                thresholdInput.value = '';

                setTimeout(() => {
                    updateStatusDiv.textContent = '';
                }, 3000);
            } else {
                console.error('Failed to update threshold on server.');
            }
        } else {
            updateStatusDiv.textContent = 'Please enter a positive number.';
            setTimeout(() => {
                updateStatusDiv.textContent = '';
            }, 3000);
        }
    });


    infoButton.addEventListener('click', async () => {
        const inputValue = infoInput.value;

        if (/^\d+$/.test(inputValue) && parseInt(inputValue) > 0) {
            const numOfDays = parseInt(inputValue);
            const response = await fetch('/get_info', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({numOfDays: numOfDays})
            });

            if (response.ok) {
                const data = await response.json();
                infoBox.innerHTML = data.info.replace(/\n/g, '<br>');
                infoBox.style.display = 'block';
            } else {
                console.error('Failed to retrieve info from server.');
            }
        } else {
            infoBox.textContent = 'Please enter a positive number.';
            infoBox.style.display = 'block';
            infoInput.textContent = '';
            setTimeout(() => {
                infoBox.textContent = '';
            }, 3000);
        }
    });


    infoButton2.addEventListener('click', async () => {
        const inputValue = infoInput2.value;

        if (/^\d+$/.test(inputValue) && parseInt(inputValue) > 0) {
            const numOfBirds = parseInt(inputValue);
            const response = await fetch('/get_info_avg', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({numOfBirds: numOfBirds})
            });

            if (response.ok) {
                const data = await response.json();
                infoBox2.innerHTML = data.info.replace(/\n/g, '<br>');
                infoBox2.style.display = 'block';
            } else {
                console.error('Failed to retrieve info from server.');
            }
        } else {
            infoBox2.textContent = 'Please enter a positive number.';
            infoBox2.style.display = 'block';
            infoInput2.textContent = '';
            setTimeout(() => {
                infoBox2.textContent = '';
            }, 3000);
        }
    });
</script>
</body>
</html>
